--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="//fonts.googleapis.com/css?family=Exo:200,300|Open+Sans:300,400,600" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-revconf-base">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Exo', sans-serif;
	}
</style>
